<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="js/script.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="logo"> oEmbed Test </div>
            <input type="text" id="url">
            <button class="favorite styled"
                    type="button" onclick="button_click();">
                확인
            </button>
        </div>
        <div id="content">
            <table>
                <tr>
                    <td>Cell A</td>
                    <td>Cell B</td>
                </tr>
                <tr>
                    <td>Cell C</td>
                    <td>Cell D</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>